:root {
	--theme-color-dark: rgb(141, 42, 38);
	--theme-color-darkest: rgb(61, 11, 9);
	--theme-color-light: rgb(204, 198, 198);
 	--background-color: rgba(68, 11, 9, 0.109);
}

/* Maybe choose a better color palette, idk...
	--theme-color-dark: rgb(45, 41, 124);
	--theme-color-darkest: rgb(12, 9, 61);
 	--background-color: rgba(68, 11, 9, 0.144);
*/

html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.1rem;
	background-color: white;
	background-image: url('../data/img/background.jpg');
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: cover;
	color: var(--theme-color-darkest);
	height: 1950px;
}

.width-limited {
	max-width: 100rem;

	/* Center horizontally: */
	/*margin-left: auto;
	margin-right: auto;*/
}

/* Links: apply our theme color and remove underline */
a {
	color: var(--theme-color-dark);
	text-decoration: none;
}

/* Top navigation bar */
nav {
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

nav a {
	color: white;
}

nav a:hover {
	text-decoration: underline;
}

/* Style of the list of links in the navbar */
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

nav li {
	margin-right: 3rem;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: black;
	height: 80px;
}

#icon{
	width:65px;
	height: 50px;
	margin-top: 20px;
	margin-left: 10px;
}

.title {
	width: 100%;
	display: flex;
	margin-left: 3rem;

}

.title h1 {
	font-size: 2.5rem;
	color: white;
	font-family: 'Playfair Display', serif;
	margin-top: 13.5px;
	margin-bottom: 13.5px;
}

/*--magnifier button--*/
#button{
	width: 75px;
	height: 30px;
	top: 780px;
	left: 20px;
	position: absolute;
	z-index: 10;
	background-color:white;
}

/*--start : bottom section of website--*/
.bottom{
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: white;
	bottom:0;
	height: 70px;
	border-top: 10px solid darkgray;
	opacity: 0.9;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#search{
	float:left;
	margin-left: 80px;
	margin-top: 23px;
	width: 200px;
	height: 25px;
}

.timeline_div{
	max-width: 60em;
	margin-top: 15px;
	margin-left: 180px;
	margin-right: 180px;
	float: left;
	height: 80px;
}


/*--toggle switch element--*/
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
float: right;
margin-right:80px;
margin-top: 20px;
}

.switch #switchButton {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch #switchButton:checked + .slider {
  background-color: lightgray;
}

.switch #switchButton:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch #switchButton:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on
{
  display: none;
  padding-right:30px;
}

.off{
padding-left:25px;
}

.on, .off
{
  color: #524f4f;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.switch input#switchButton:checked + .slider .on
{display: block;}

.switch #switchButton:checked + .slider .off
{display: none;}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*--end : bottom section of website--*/

#sankey_div{
	background-color: ghostwhite;
	opacity: 0.8;
	margin-right: 150px;
	margin-left: 150px;
	padding-top: 30px;
	width: 1500px;
}
#sankey{
	margin-left: 16px;
}

#winners text, #runnerups text {
	color: white;
	font-size: x-large;
	padding-top: 5px;

}

#winners text{
	padding-left: 10px;
}
#runnerups text{
	padding-right: 10px;
}

#sankey_titles{
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}

#winners,#runnerups{
	background-color: #171515;
	width: 100%;
	height: 40px;
	display: flex;
}
#winners{
	margin-left: 20px;

}
#runnerups{
	margin-right: 20px;
	justify-content: flex-end;
}

text {
	color: var(--theme-color-dark);
}

rect.overlay {
	stroke: black;
	stroke-opacity: 0.4;
}

rect.selection {
	stroke: black;
  	fill: grey;
 	fill-opacity: 0.4;
}

#labelleft, #labelright {
	dominant-baseline: hanging;
	font-size: 18px;
	fill: black;
}

#labelleft {
	text-anchor: end;
}

#labelright {
	text-anchor: start;

}

.handle--custom{
	stroke:green;
	fill:green;
}

.links {
  stroke: #aaa;
}

#textNode {
	stroke: rgb(88, 88, 88);
}

.node circle{
	stroke:#fff;
	stroke-width:3px;
	fill: #171515;
}

.node circle:hover {
	fill:red;
}

#network {
	display: flex;
	justify-content: center;
	width : 1500px;
	height: 824px;
	background-color: ghostwhite;
	opacity: 0.8;
	margin-top: 60px;
	margin-right: 150px;
	margin-left: 150px;
	position: relative;

}


.graph {
	width: 100%;
	height:100%;
	position: absolute;

}

/* JQuery autocomplete */
.ui-autocomplete {
	max-height: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
	padding: 8px 10px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
	opacity: 0.8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
	color: rgba(0,0,0,0.6);
	overflow-y: scroll;
	overflow-x: hidden;
}

.ui-helper-hidden-accessible {
	display:none;
}

.ui-autocomplete.ui-menu .ui-menu-item.ui-state-focus {
	color: black;
}

#ui-id-1{
	position: fixed;
}

.exitButton {
	float: right;
	margin-top: 23px;
	height: 31px;
}

.lens {
	stroke: gray;
	stroke-width: 2.0px;
	stroke-opacity: 0;
	fill: none;
}

@media screen and (max-width: 600px) {
	.width-limited {
		max-width: 100%;
	}
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  background-color: rgb(122, 122, 122);
  color: #fff;
  text-align: center;
  border-radius: 16px;
  padding: 8px 18px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  width: 350px;
  height: 550px;
  text-align: center;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.infoTitle {
	font-size: 1.5rem;
	padding: 6px;
}

table {
	width: 100%;
    border-collapse: collapse;
    font-size: .8rem;
	margin: 15px 5px;
}

td {
	text-align: left;
	padding: 4px 8px;
	min-width: 75px;
}

.player_image {
	max-width: 80%;
	max-height: 350px;
}
